
# Flutter/Dart
.dart_tool/
.build/
*.dart.js
*.info.json
*.app.dSYM.zip
*.app.dSYM
*.dSYM
*.dSYM/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/AppFrameworkInfo.plist
ios/Runner/GeneratedPluginRegistrant.*
android/local.properties
android/app/google-services.json
android/key.properties
**/doc/export/
**/android/IntelliJSettings/
**/android/.settings
**/android/.project
**/android/.classpath
**/android/.gradle
**/ios/.generated/
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.android/
.idea/libraries/
.DS_Store
*.swp
*.swo
*~

# Build
build/
app/build/
*.apk
*.aab
*.ipa
*.xcworkspace
*.xcuserdata
*.xccheckout
Pods/
*.lock
pubspec.lock

# Test
test/.test_coverage.dart
coverage/